$color-sass: #C36291;

.Sass {
    stroke-dashoffset: 910;
    stroke-dasharray: 1806;
    width: 100%;
    height: 100%;
    transition: 3s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 2;
    stroke: $color-sass;
    filter: drop-shadow(0 0 1rem $color-sass);
    animation: 2s 1s sassAnimation cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@keyframes sassAnimation {
    from {
        stroke-dasharray: 906;
    }

    to {
        stroke-dasharray: 1806;
    }
}
