.Title {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.Text {
		flex-grow: 1;
		cursor: pointer;
	}

	.Button {
		margin-right: 0.5rem;
		font-size: 1.5rem;
		&:hover{
			color: var(--color-red);
		}
	}
}
