.Title {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.Text {
		flex-grow: 1;
		cursor: pointer;
	}

	.Button {
		padding: 0.5rem;
		font-size: 1.5rem;
		border-radius: 0.5rem;
		&:hover{
			color: var(--color-white);
			background-color: var(--color-gray);
		}
	}
}
