.Game {
    font: 16px "Century Gothic", Futura, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;

    .NextPLayer {
        text-align: center;
    }

    .Restart {
        padding: 0.5rem;
        border-radius: 0.5rem;
        &:hover {
            background-color: var(--color-red);
            color: var(--color-white);
        }

        &.DarkMode {
            &:hover {
                background-color: var(--color-red);
                color: var(--color-white);
            }
        }
    }

    @media (max-width: 425px) {
        .Restart {
            &:hover {
                background-color: none;
            }

            &.DarkMode {
                &:hover {
                    background-color: none;
                }
            }
        }
    }
}


.DarkMode {
    background-color: var(--color-white);
    color: var(--color-black);
}

.LightMode {
    background-color: var(--color-black);
    color: var(--color-white);
}