.Card {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    max-width: var(--card-width);
    padding: 1.5rem;
    text-align: center;
    border-radius: 1rem;
    transition: 0.4s;

    .Image {
        position: relative;
        background-color: darkviolet;
        margin: -8rem auto 1.5rem;
        padding: 0.25rem;
        width: var(--image-width);
        height: var(--image-width);
        border-radius: 50%;
        transition: 0.4s;
        overflow: hidden;

        img {
            width: 100%;
            border-radius: 50%;
            transition: 0.4s;
        }
    }

    &:hover {
        --card-width: 480px;
        --image-width: calc(var(--card-width) / 2);

        .Image {
            margin-top: -4rem;
            border-radius: 2rem;
        }
    }
}

.Card:hover .Image img {
    border-radius: 2rem;
}

.Card .Name {
    color: var(--color-black);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.Card .Content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.4s;
}

.Card .Content p {
    font-size: 1.125rem;
}

.Card:hover .Content {
    max-height: 300px;
    opacity: 1;
    overflow: visible;
}

.Card .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.Card .buttons button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

    display: block;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--color-black);
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 0.5rem;
    min-width: 160px;
    transition: 0.4s;
}

.Card .buttons button:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transform: translateY(-0.5rem) scale(1.15);
}
