.Card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	border-radius: 1rem;
	padding: 1rem;
	min-width: 240px;
	max-width: 240px;

	&:hover {
		.FotoBox {
			transform: translateY(-20%);
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
	}

	.FotoBox {
		display: flex;
		padding: 0.5rem;
		border-radius: 1rem;
		clip-path: polygon(0 0, 100% 0, 100% 40%, 0 95%);
		transition: all 0.4s linear;
		height: 200px;

		.Foto {
			object-fit: cover;
			border-radius: 0.5rem;
		}
	}

	.Content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.Title {
			flex-grow: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			font-style: italic;
		}

		.Description {
			text-align: justify;
		}

		.Buttons {
			display: flex;
			justify-content: center;
			flex-direction: row;
			margin-top: 1rem;
			gap: 1rem;

			a {
				margin: 0;
				text-decoration: none;

				button {
					border-radius: 0.5rem;
					word-wrap: break-word;
					transition: 0.2s linear;

					&:hover {
						transform: translateY(-0.25rem);
						box-shadow: 0 0.5rem 1rem gray;
					}
				}
			}
		}
	}
}
