.Card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;

    &:hover {
        .FotoBox {
            transform: translateY(-20%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }

    .FotoBox {
        padding: 1rem;
        border-radius: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 40%, 0 80%);
        transition: all 0.4s linear;

        .Foto {
            max-height: 10rem;
            border-radius: 1rem;
        }
    }

    .Content {
        .Title {
            transform: translateY(-100%);
        }
    }

    .Buttons {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 1rem;

        a {
            margin: 0;
            text-decoration: none;

            button {
                border-radius: 0.5rem;
                word-wrap: break-word;
                transition: 0.2s linear;

                &:hover {
                    transform: translateY(-0.25rem);
                    box-shadow: 0 0.5rem 1rem gray;
                }
            }
        }
    }
}
