$color-java: #f58219;
$color-java-base: #4e7896;

.Java {
    width: 6rem;
    height: 6rem;

    .Mug {
        fill: none;
        stroke: $color-java-base;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        stroke-miterlimit: 10;
        stroke-width: 0.04rem;
        animation: javaMug 2s 1s infinite alternate;
    }

    .Smoke {
        fill: none;
        stroke: $color-java;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        stroke-miterlimit: 10;
        stroke-width: 0.04rem;
        animation: javaSmoke 2s 1s infinite alternate;
    }
}

@keyframes javaMug {
    from {
        stroke-dasharray: 50;
        stroke-dashoffset: 100;
    }

    to {
        stroke-dasharray: 5;
        stroke-dashoffset: 25;
    }
}

@keyframes javaSmoke {
    from {
        stroke-dasharray: 50;
        stroke-dashoffset: 100;
    }

    to {
        stroke-dasharray: 5;
        stroke-dashoffset: 25;
    }
}
