.Game {
    font: 16px "Century Gothic", Futura, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;

    .NextPLayer {
        text-align: center;
    }

    .Restart {
        background-color: var(--color-black);
        color: var(--color-white);
        padding: 0.5rem;
        border-radius: 0.5rem;
        &:hover {
            background-color: var(--color-red);
            color: var(--color-white);
        }

        &.DarkMode {
            @extend .Dark;
            &:hover {
                background-color: var(--color-red);
                color: var(--color-white);
            }
        }
    }

    .Board {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 10rem 10rem 10rem;
        grid-template-rows: 10rem 10rem 10rem;
        grid-gap: 0.5rem;

        .Square {
            background-color: var(--color-black);
            color: var(--color-white);
            border-radius: 0.5rem;
            font-size: 5rem;
            font-weight: bold;
            text-align: center;
            width: 10rem;
            height: 10rem;

            &.DarkMode {
                @extend .Dark;
                &:hover {
                    background-color: var(--color-red);
                    color: var(--color-white);
                }
            }

            &:hover {
                background-color: var(--color-red);
                color: var(--color-white);
            }
        }
    }

    @media (max-width: 425px) {
        .Restart {
            &:hover {
                background-color: none;
            }

            &.DarkMode {
                &:hover {
                    background-color: none;
                }
            }
        }

        .Board {
            grid-template-columns: 5rem 5rem 5rem;
            grid-template-rows: 5rem 5rem 5rem;
            .Square {
                width: 5rem;
                height: 5rem;
                &.DarkMode {
                    &:hover {
                        background-color: none;
                    }
                }
            }
        }
    }
}

.Dark {
    background-color: var(--color-white);
    color: var(--color-black);
}
