$color-js: #EAD41C;

.Js {
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    stroke: $color-js;
    z-index: 2;
    height: 100%;
    filter: drop-shadow(0 0 1rem $color-js);
    stroke-dashoffset: 0;
    stroke-dasharray: 20;
    opacity: 1;
    animation: 5s infinite alternate cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-name: jsAnim2;
    animation-duration: 2s, 5s;
    animation-delay: 1s;

    #letters {
        stroke-dashoffset: 0;
        stroke-dasharray: 0;
    }
}

@keyframes jsAnim2 {
    from {
        stroke-dashoffset: 0;
        stroke-dasharray: 20;
    }

    to {
        stroke-dasharray: 80;
    }
}
