.Projects {
    .Gallery {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4rem;

        @media (max-width: 768px) {
            & {
                justify-content: center;
            }
        }
    }
}
