.Section {
	display: flex;
	justify-content: space-between;
	gap: 2rem;

	.FotoBox {
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex: 0rem;
		max-width: 360px;

		.Foto {
			border-radius: 2rem;
		}
	}

	.Content {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.Text {
			font-size: 1.2rem;
			text-align: justify;
			object-fit: contain;
		}

		.Phrase {
			@extend .Text;
			margin-top: 2rem;
			font-style: italic;
		}

		.Link {
			margin-top: 2rem;
			text-align: center;
			button {
				align-self: flex-end;
			}
		}
	}

	@media (max-width: 768px) {
		& {
			flex-direction: column;
			align-items: center;
		}
	}
}
