.Button {
	padding: 0.5rem 1rem;
    gap: 1rem;
	font-size: large;
	width: 100%;
	white-space: nowrap;
	border-radius: var(--chakra-radii-md);
	font-weight: var(--chakra-fontWeights-semibold);
}

.AddTask {
	@extend .Button;
	display: flex;
	align-items: center;
	color: var(--color-gray);
	
	&:hover {
		background-color: #091e4214;
	}
}

.AddCard {
	@extend .Button;
	display: inline-flex;
	align-items: center;
	color: var(--color-white);
    background-color: var(--chakra-colors-whiteAlpha-200);

	&:hover {
		background: var(--chakra-colors-whiteAlpha-400);
	}
}


.AddButtonContainer {
	padding: 0.5rem;

	.AddButtonText {
		background-color: var(--color-white);
		color: var(--color-black);
		box-shadow: 0.05rem 0.05rem 0.1rem;

		&::placeholder {
			color: var(--color-gray);
		}
	}

	.AddButtonGroup {
		padding: 0.5rem 0;
		display: flex;
		gap: 1rem;
	}
}