.PersonalSection {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    @media (max-width: 768px) {
        & {
            flex-direction: column;
        }
    
    }

    .PersonalFotoBox {
        display: flex;
        flex: 1rem;
        justify-content: center;
        align-items: center;
        position: relative;

        .PersonalFoto {

            .Foto {
                border-radius: 2rem;
                object-fit: contain;
            }
        }
    }
}
