.PersonalSection {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        & {
            flex-direction: column;
        }
    }

    .PersonalFotoBox {
        display: flex;
        flex: 1rem;
        justify-content: center;
        align-items: center;
        position: relative;

        .PersonalFoto {
            z-index: 2;
            padding: 2.5rem;

            .Foto {
                border-radius: 2rem;
                object-fit: contain;
            }
        }
    }
}
