.socialIconsBox {
    padding: 1rem 0;
}

.socialIconsBox .socialIcons {
    padding: 0 1rem;
    color: red;
}

.socialIconsBox .socialIcons:hover {
    color: #ff0000;
}

.container{
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
}

.footer{
    
}