.Footer {
    padding-top: 1rem;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .FooterImg {
        width: 4rem;
        height: 4rem;
    }

    .FooterBox {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
