@import '../Card/Card.module.scss';

.Board {
	display: flex;
	gap: 1rem;
	position: relative;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1rem;
	padding-bottom: 1rem;
	height: 85vh;
	left: 0;
	right: 0;
	overflow-x: auto;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;

	.Card {
		background-color: transparent;
	}

	&::-webkit-scrollbar {
		height: 0.8rem;
	}

	&::-webkit-scrollbar-track {
		border-radius: 1rem;
		background-color: var(--chakra-colors-whiteAlpha-400);
	}
}
